<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forms</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form action="">
        <fieldset>
            <h1>LOGIN PAGE</h1>

        <label for="">NAME:</label><br>
        <input type="text" placeholder="enter your name"><br>
        <label for="">MOBILE NO:</label><br>
        <input type="number"><br>
        <label for="">email id:</label><br>
        <input type="mail"><br>
        <label for="">Password</label><br>
        <input type="password" name="password" value="charcters"><br>
        </fieldset>
    </form>
</body>
</html>